.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 5.5em;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;
  margin-top: 3em;

  .bullet {
    flex-basis: 20em;
    flex-grow: 1;
    @include media($medium-screen) {
      flex-basis: 30em;
      padding: 0 8em;
    }
    @include media($large-screen) {
      max-width: 33.33%;
      padding: 0 2em;
      margin-top: 4em;
    }
  }

  .bullet-icon {
    display: flex;
    background: white;
    margin-bottom: 2em;
    img {
      height: 30%;
      padding: 0;
      width: 30%;
    }
    a {
      text-decoration: none;
    }
    h3 {
      font-family: "novecento-sans-wide-light";
      display: flex;
      width: 100%;
      font-size: $icon-bullet-size / 3.5;
      padding: 0;
      margin: 0 0 0 10%;
      color: #333;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .bullet-image {
    @include media($large-screen) {
      @include size(300px 300px);
    }
    overflow: hidden;
    border: 0;
    margin-bottom: 1em;
  }

  .bullet-content {
    h2, h3 {
      text-align: center;
      margin-bottom: 0.4em;
    }
    font-family: "didot";
    text-align: left;
    margin-bottom: 2em;
  }

  .bullet-video {
    padding: 0;
    iframe {
      @include size(340px 191px);
    }
  }

  .bullet-video-content {
    @include size(340px auto);
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}
