$small-screen: em(400);
$extra-large-screen: em(1280);

@include font-face("open-sans-light", "../fonts/OpenSans-Light", light);
@include font-face("open-sans", "../fonts/OpenSans-Regular");
@include font-face("didot", "../fonts/GFSDidot-Regular");

body {
  h1.large-title {
    font-family: "open-sans";
    font-size: 72px;
    font-weight: 700;
    margin: 0 0 20px 0;
  }
  h1 {
    font-family: "open-sans";
  }
  h2 {
    font-family: "open-sans";
    font-size: 1.6em;
    font-weight: 500;
  }
  h2.section-title {
    font-size: 1.6em;
    @include media($large-screen) {
      font-size: 2em;
    }
  }
  h3 {
    font-family: "open-sans-light";
    font-size: 1.4em;
    font-weight: 300;
  }
  p {
    font-family: "didot";
  }
  section {
    ul {
      font-family: "didot";
      font-size: 20px;
      line-height: 1.625;
      margin: 0 0 20px 0;
    }
  }
  a {
    color: #0FB3FF;
  }
  a:visited {
    color: darken(#0FB3FF, 15%);
  }
  a:hover {
    text-decoration: underline;
  }
  .content-wrapper__inner {
    @include media($large-screen) {
      margin-top: 63px;
    }
  }
}

a.button, input[type="submit"] {
  @extend button;
  padding: 16px 24px;
  color: #34313b;
  border: 1px solid #34313b;
  background-color: white;
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  &:focus,
  &:hover {
    text-decoration: none;
    background-color: #34313b;
    color: white;
  }
}

.content-wrapper {
  min-height: calc(100vh - 4.8em);
}

.speakerdeck-iframe {
  margin-bottom: 30px;
}

