// about page
.page-content > :first-child {
  min-height:400px;
}

.post-content {
  @include span-columns(12);
  @include media($large-screen) {
    @include span-columns(10);
    @include shift(1);
  }

  &:nth-child(n+2) {
    padding-top:$base-spacing / 2;
  }
  &:last-child {
    margin-bottom:50px;
  }

  @include media($large-screen) {
    @include span-columns(8);
    @include shift(2);
  }
  @include media($extra-large-screen) {
    .mm-opening & {
      @include shift(0);
    }
  }
}

div.toc {
  margin-bottom: 1em;
  margin-top: 2em;
  hr {
    border: 1px solid darken(#fff, 10);
    width: auto;
  }
}

#coliving-daigram {

	@media screen and (min-width:1024px){
		img {
			max-width:150%;
			margin-left:-25%;
		}
	}
	
	p { 
		font-size: 1em;
		line-height: 1.3em;
		font-family: "open-sans";
	}
}	
