<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="{{ $.Site.BaseURL }}images/aet-logo-02.svg">
    </a>
    <a href="/" class="logo">ART / EARTH / TECH</a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="icon ion-drag"></i>&nbsp;&nbsp;MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li id="js-navigation-more" class="nav-link more">
          <a href="javascript:void(0)">ABOUT</a>
          <ul class="submenu">
            <li><a href="/manifesto/">MANIFESTO</a></li>
            <li><a href="/people/">PEOPLE</a></li>
          </ul>
        </li>
        <li id="js-navigation-more" class="nav-link more">
          <a href="javascript:void(0)">EVENTS</a>
          <ul class="submenu">
            <li><a href="/gathering/">GATHERING</a></li>
            <li><a href="/sprints/">SPRINTS</a></li>
          </ul>
        </li>
        <li id="js-navigation-more" class="nav-link more">
          <a href="javascript:void(0)">HUBS</a>
          <ul class="submenu">
            <li><a href="/residency">Residency</a></li>
            <li><a href="/londonhub">London Hub</a></li>
            <li><a href="/berlinhub/">Berlin Hub</a></li>
            <li><a href="/la-cheraille/">La Cheraille</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="/initiatives/">COLLABORATORS</a></li>
        <!-- <li class="nav-link"><a href="/news/">NEWS</a></li> -->
        <li class="nav-link"><a href="/institute/">INSTITUTE</a></li>
        <li class="nav-link"><a href="/blog/">BLOG</a></li>
        <li class="nav-link"><a href="/contact/">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
