<h2 class="section-title centered">- WHO WE ARE -</h2>
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Sylvie-Barbier-800x800.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-SYLVIE BARBIER-</h2>
      <h3>ARTIST / DESIGNER</h3>
      <p>Sylvie Barbier is a French-Taiwanese artist and educator and formerly a Lecturer at Polimoda in Florence. Compassion and openness are at the heart of her interdisciplinary practice.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Rufus-Pollock-684x684.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-RUFUS POLLOCK-</h2>
      <h3>TECHNOLOGIST</h3>
      <p>Rufus Pollock is a Founder of <em>Open Knowledge</em>, an award-winning international digital non-profit. Formerly a Shuttleworth Fellow,  the Mead Fellow in Economics at Cambridge University.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Liam-Kavanagh-800x800.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-LIAM KAVANAGH-</h2>
      <h3>COGNITIVE SCIENTIST</h3>
      <p>Liam Kavanagh is a cognitive scientist who studies the ways that our bodily activities and our thoughts interact.</p>
    </div>
  </li>

  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Ninon-Godefroy-800x800.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-NINON GODEFROY-</h2>
      <h3>SOLAR ENERGY</h3>
      <p>Ninon Godfrey Grew up at <em>La Cheraille</em> and works in renewable energy to support developing nations build sustainable energy infrastructures.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Jonathan-Ekstrom-800x800.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-JONATHAN EKSTROM-</h2>
      <h3>BIOLOGIST</h3>
      <p>Jonathan Ekstrom formed The Biodiversity Consultancy to bring real-world solutions to industry's biodiversity challenges. Jon holds a Double First in Natural Sciences from Cambridge University and a PhD in ecology.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Stefan-Urbanek-800x800.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-STEFAN URBANEK-</h2>
      <h3>DATA ENGINEER</h3>
      <p>Stefan Urbanek is a data engineer at facebook. We have a passion for complex systems and work in an intuitive way. Nature has always been his source of inspiration for his work.</p>
    </div>
  </li>
</ul>
