<h2 class="section-title centered">- FOUNDERS -</h2>
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Sylvie-Barbier-800x800.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-SYLVIE BARBIER-</h2>
      <h3>ARTIST / DESIGNER</h3>
      <p>Sylvie Barbier is a French-Taiwanese artist and educator and formerly a Lecturer at Polimoda in Florence. Compassion and openness are at the heart of her interdisciplinary practice.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Rufus-Pollock-684x684.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-RUFUS POLLOCK-</h2>
      <h3>TECHNOLOGIST</h3>
      <p>Rufus Pollock is a Founder of <em>Open Knowledge</em>, an award-winning international digital non-profit. Formerly a Shuttleworth Fellow,  the Mead Fellow in Economics at Cambridge University.</p>
    </div>
  </li>

  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Ninon-Godefroy-800x800.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-NINON GODEFROY-</h2>
      <h3>PUBLIC POLICY</h3>
      <p>Ninon Godefroy grew up at <em>La Cheraille</em>, worked in renewable energy and education in Asia and Africa and studied public policy at the University of Oxford. </p>
    </div>
  </li>

  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Liam-Kavanagh-800x800.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-LIAM KAVANAGH-</h2>
      <h3>COGNITIVE SCIENTIST</h3>
      <p>Liam Kavanagh is a cognitive scientist who studies how our body and feelings interact with our thoughts, both within the individual and within social groups. Liam studied Economics at Cambridge University, and holds a PhD in Psychology and Cognitive Science from UCSD. </p>
    </div>
  </li>
  <!-- <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Jonathan-Ekstrom-800x800.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-JONATHAN EKSTROM-</h2>
      <h3>BIOLOGIST</h3>
      <p>Jonathan Ekstrom formed The Biodiversity Consultancy to bring real-world solutions to industry's biodiversity challenges. Jon holds a Double First in Natural Sciences from Cambridge University and a PhD in ecology.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-image portrait">
      <img src="{{ $.Site.BaseURL }}images/Stefan-Urbanek-800x800.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>-STEFAN URBANEK-</h2>
      <h3>DATA ENGINEER</h3>
      <p>Stefan Urbanek is a data engineer at Facebook. He has a passion for complex systems and likes to work in an intuitive way. Nature has always been his source of inspiration.</p>
    </div>
  </li> -->
</ul>
<h2 class="section-title centered">- INSTITUTE TEAM -</h2>
<!-- Liam -->
<div class="event">
  <div class="event-image">
    <img src="{{ $.Site.BaseURL }}images/Liam-Kavanagh-800x800.png" class="img-circular-square">
  </div>
  <div class="event-content">
    <h3>LIAM KAVANAGH</h3>
    <p>Liam Kavanagh is the Director of the Art / Earth / Tech Institute. He is is a cognitive scientist who studies how our body and feelings interact with our thoughts, both within the individual and within social groups.</p>
  </div>
</div>
<!-- Laurie -->
<div class="event">
  <div class="event-image">
    <img src="{{ $.Site.BaseURL }}images/laurie-cropped.png" class="img-circular-square">
  </div>
  <div class="event-content">
    <h3>LAURIE PARMA</h3>
    <p>Laurie Parma is the Art / Earth / Tech Institute coordinator and fellow. She is the founder of LifeCloud, a wellbeing consulting and education company. As a Cambridge scholar of psychology, behavioural science and neuroscience, interdisciplinarity is the core of her approach to human flourishing.</p>
  </div>
</div>

<h2 class="section-title centered">- AMBASADORS -</h2>
<!-- Jonathan -->
<div class="event">
  <div class="event-image">
    <img src="{{ $.Site.BaseURL }}images/jon-portrait.jpg" class="img-circular-square">
  </div>
  <div class="event-content">
    <h3>JONATHAN EKSTROM</h3>
    <p>Jonathan Ekstrom co-organised the first Art / Earth / Tech Gathering. He has formed The Biodiversity Consultancy to bring real-world solutions to industry's biodiversity challenges. Jon holds a Double First in Natural Sciences from Cambridge University and a PhD in ecology.</p>
  </div>
</div>
<!-- Omri -->
<div class="event">
  <div class="event-image">
    <img src="{{ $.Site.BaseURL }}images/omri_baumer_people.png" class="img-circular-square">
  </div>
  <div class="event-content">
    <h3>OMRI BAUMER</h3>
    <p>Omri Baumer is a technologist with vast experience in software design and development. He was selected as a Technology Expert by Harvard Business School and built developer communities. Growing up in northern Israel, Omri has been fascinated with the future of real-estate.</p>
  </div>
</div>
<!-- Naima -->
<div class="event">
  <div class="event-image">
    <img src="{{ $.Site.BaseURL }}images/naima_von_ritter_figueres_people.png" class="img-circular-square">
  </div>
  <div class="event-content">
    <h3>NAIMA VON RITTER FIGUERES</h3>
    <p>Naima von Ritter Figueres is a Costa Rican-German sustainable development professional with a MSc Development Management
 degree from the LSE. She is on a mission to help people deeply connect with themselves, with nature, and with others.</p>
  </div>
</div>

<h2 class="section-title centered">- ALUMNI -</h2>
<!-- Stefan -->
<div class="event">
  <div class="event-image">
    <img src="{{ $.Site.BaseURL }}images/Stefan-Urbanek-800x800.png" class="img-circular-square">
  </div>
  <div class="event-content">
    <h3>STEFAN URBANEK</h3>
    <p>Stefan Urbanek is a data engineer at Facebook. He has a passion for complex systems and likes to work in an intuitive way. Nature has always been his source of inspiration.</p>
  </div>
</div>
