{{ partial "head.html" . }}

<body class="purple-landing">
  <div class="content-wrapper color-white">
    <div class="content-wrapper__inner">
      <div>

        <section class="other-pages-special">
          {{ with .Params.supertitle }}
          <h1 class="large-title">{{ . }}</h1>
          {{ end }}
          {{ .Content }}
          {{ if eq .Params.news true }}
          <article class="type-system-rounded">
            <section class="news">
              {{ range where .Site.Pages "Section" "post" }}
              <div class="single-news">
                <a href="{{ .Permalink }}">
                  <h3>{{ .Title }}</h3>
                </a>
                <div class="news-body">
                  <div class="news-content">
                    <p class="date"><i class="icon ion-calendar"></i> {{ .Date.Format "2 January 2006" }}</p>
                    <p>{{ .Summary }}</p>
                  </div>
                </div>
              </div>
              {{ end }}
            </section>
          </article>
          {{ end }}
        </section>


      </div>
    </div>
  </div>
</body>
{{ partial "script.html" .}}

</html>