{{ partial "head.html" . }}

<body class="home-template">

  {{ partial "navbar.html" . }}

  {{ partial "hero.html" . }}

  <section id="next-section" class="wisdom-today">
    <div class="video">
      <h2 class="video-text section-title">- WISDOM TODAY -</h2>
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/_QR-1o5ci7s" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <div class="video-text">
        <p>
          Though living in societies which have never been so rich our sense of purpose and connection is often missing. A growing number of us are seeking lives that are meaningful as well as productive yet we struggle to find a balance, finding ourselves trapped in conflict.
        </p>
      </div>
    </div>
  </section>

  <section class="what-we-do">
    <h2 class="section-title">- WHAT WE DO -</h2>
    <ul class="bullets">
      <li class="bullet">
        <div class="bullet-icon">
          <img src="{{ $.Site.BaseURL }}images/logo-aet-intitute02.png">
          <a href=""><h3>INSTITUTE</h3></a>
        </div>
        <div class="bullet-content">
          Our approach focuses on fostering a community of people seeking a wiser world. We do this by providing space, a network and knowledge. Space in the form of physical places that can act as homes for our com-
        </div>
      </li>

      <li class="bullet">
        <div class="bullet-icon">
          <img src="{{ $.Site.BaseURL }}images/logo-aet-sprint02.png">
          <a href=""><h3>SPRINTS</h3></a>
        </div>
        <div class="bullet-content">
          Our approach focuses on fostering a community of people seeking a wiser world. We do this by providing space, a network and knowledge. Space in the form of physical places that can act as homes for our com-
        </div>
      </li>

      <li class="bullet">
        <div class="bullet-icon">
          <img src="{{ $.Site.BaseURL }}images/logo-aet-gathering02.png">
          <a href=""><h3>GATHERING</h3></a>
        </div>
        <div class="bullet-content">
          Our approach focuses on fostering a community of people seeking a wiser world. We do this by providing space, a network and knowledge. Space in the form of physical places that can act as homes for our com-
        </div>
      </li>
    </ul>
  </section>

  <section class="who-we-are">
    <h2 class="section-title">- WHO WE ARE -</h2>
    <ul class="bullets">
      <li class="bullet">
        <div class="bullet-image">
          <img src="{{ $.Site.BaseURL }}images/Sylvie-Barbier-800x800.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>-SYLVIE BARBIER-</h2>
          <h3>ARTIST / DESIGNER</h3>
          <p>Our approach focuses on fostering a community of people seeking a wiser world. We do this by providing space, a network and knowledge. Space in the form of physical places that can act as homes for our community members to work, meet and</p>
        </div>
      </li>
      <li class="bullet">
        <div class="bullet-image">
          <img src="{{ $.Site.BaseURL }}images/Rufus-Pollock-684x684.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>-RUFUS POLLOCK-</h2>
          <h3>TECHNOLOGIST</h3>
          <p>Our approach focuses on fostering a community of people seeking a wiser world. We do this by providing space, a network and knowledge. Space in the form of physical places that can act as homes for our community members to work, meet and</p>
        </div>
      </li>
      <li class="bullet">
        <div class="bullet-image">
          <img src="{{ $.Site.BaseURL }}images/Liam-Kavanagh-800x800.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>-LIAM KAVANAGH-</h2>
          <h3>COGNITIVE SCIENTIST</h3>
          <p>Our approach focuses on fostering a community of people seeking a wiser world. We do this by providing space, a network and knowledge. Space in the form of physical places that can act as homes for our community members to work, meet and</p>
        </div>
      </li>

      <li class="bullet">
        <div class="bullet-image">
          <img src="{{ $.Site.BaseURL }}images/Ninon-Godefroy-800x800.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>-NINON GODEFROY-</h2>
          <h3>SOLAR ENERGY</h3>
          <p>Our approach focuses on fostering a community of people seeking a wiser world. We do this by providing space, a network and knowledge. Space in the form of physical places that can act as homes for our community members to work, meet and</p>
        </div>
      </li>
      <li class="bullet">
        <div class="bullet-image">
          <img src="{{ $.Site.BaseURL }}images/Jonathan-Ekstrom-800x800.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>-JONATHAN EKSTROM-</h2>
          <h3>BIOLOGIST</h3>
          <p>Our approach focuses on fostering a community of people seeking a wiser world. We do this by providing space, a network and knowledge. Space in the form of physical places that can act as homes for our community members to work, meet and</p>
        </div>
      </li>
      <li class="bullet">
        <div class="bullet-image">
          <img src="{{ $.Site.BaseURL }}images/Stefan-Urbanek-800x800.png" alt="">
        </div>
        <div class="bullet-content">
          <h2>-STEFAN URBANEK-</h2>
          <h3>DATA ENGINEER</h3>
          <p>Our approach focuses on fostering a community of people seeking a wiser world. We do this by providing space, a network and knowledge. Space in the form of physical places that can act as homes for our community members to work, meet and</p>
        </div>
      </li>
    </ul>
  </section>

  <section id="contact" class="contact">
    {{ partial "contact.html" . }}
  </section>

  {{ partial "footer.html" . }}

  {{ partial "script.html" . }}

</body>
</html>
