{{ partial "head.html" . }}

<body class="home-template">

  {{ partial "navbar.html" . }}

  {{ partial "hero.html" . }}

  <section id="next-section" class="gathering-info">
    <div class="video">
      <div class="video-text">
        <h2>WHAT IS THE GATHERING?</h2>
        <p class="narrow">For our second Gathering we explore how can we can live wisely and well. From our food to to our politics, and technology to education how can we make a wiser world?

        <p class="narrow">Together we will reflect on how we can foster more wisdom in our societies and in our everyday life.</p>

        <p class="narrow"><i>photography by Sarah Hickson and Evelyn Yang</i></p>

        </p>
      </div>
      <div class="video-wrapper centered">
        <iframe src="https://www.youtube.com/embed/_QR-1o5ci7s" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>

    <div class="grid-items">
      <div class="grid-item">
        <i class="icon ion-ios-calendar-outline"></i>
        <h4>WHEN</h4>
        <p>Start: Saturday 22nd July – 2pm</p>
        <p>End: Saturday 29th July – 2pm</p>
      </div>
      <div class="grid-item">
        <i class="icon ion-ios-location-outline"></i>
        <h4>WHERE</h4>
        <p>La Cheraille, a small farming hamlet near Paris. This natural, beautiful and secluded environment is perfectly suited to the ethos of the week and provides the ideal space for participants to share, experiment and reflect. <a href="#location" onclick="scrollDown(this)">Read more <span>&rsaquo;</span></a></p>
      </div>
      <div class="grid-item">
        <i class="icon ion-ios-people-outline"></i>
        <h4>PARTICIPATE</h4>
        <p>The event is invite only and is limited in scale to ensure an intimate atmosphere — no more than roughly thirty participants. If would like to participate or know someone who would please <a href="#contact" onclick="scrollDown(this)">get in touch <span>&rsaquo;</span></a>.</p>
      </div>
    </div>

  </section>

  <section class="wisdom">

    {{ range where .Site.Pages.ByWeight "Params.grid" true }}
      {{ partial "side-image.html" . }}
    {{ end }}

  </section>

  <section id="location" class="location">
    <h2>THE LOCATION – LA CHERAILLE</h2>

    <p><a href="/la-cheraille/">More pictures and full details of how to get there ...</a></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d168429.23446498803!2d2.1464563156773004!3d48.73019408239067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4245e8d738939%3A0x34b08f1a22c1cd5b!2sLa+Cheraille%2C+78120+Sonchamp%2C+France!5e0!3m2!1sen!2suk!4v1457889186272" style="border:0" allowfullscreen="" width="450" height="337" frameborder="0"></iframe>

    <img src="/images/la_cheraille1_768x577.png">
    <img src="/images/la_cheraille2_768x574.png">

  </section>

  {{ partial "footer.html" . }}

  {{ partial "script.html" . }}

</body>
</html>
