{{ partial "head.html" . }}

<body class="home-template-special">

  {{ partial "navbar.html" . }}
  <br><br>
  {{ partial "hero.html" . }}


  <section class="wisdom" id="next-section">

    <div class="side-image">

  <div class="images-wrapper last" style="background-image: url({{ $.Site.BaseURL }}images/william-bout-264826-unsplash.jpg)"></div>

  <div class="side-image-content">
    <h1>Some Specific Areas of Interest</h1>
    <h2>Collective Intelligence</h2>
    <p>We've created a complex society, in which, it seems, no individual can fully understand what is going on around him. How do we put our heads together more effectively to understand the world we live in and solve problems like global warming? <br><a href="{{ $.Site.BaseURL }}files/collective-intelligence-a-conversation.pdf">Click here</a> to download the white paper on collective intelligence.</p>

    <h2>Wise Technology</h2>
    <p>The current digital economy structure creates social inequality, we promote and work on policy to create an inclusive and fair digital information age.</p>
    <p> Images by Christian Perner and William Bout unsplash </p>
  </div>

</div>

<div class="side-image">

<div class="side-image-content">
<h2>(Im)measurability, Value and Policy</h2>
<p>How to demonstrate the value of intangible and subjective approaches. Can all that matters be measured? How to turn our priorities into policy, given the difficulty of measurement.</p>

<h2>Co-x - Coliving, Coworking and Community</h2>
<p>How do we build vibrant, sustainable communities? What is the source of the renewed interest in co-living and co-working and how do these relate to major trends around digital nomadism and virtual working driven by digital technology and affordable travel. And, finally, what can we learn from the history of cooperative, communitarian and other "co-x" movements?<a href="/institute/coliving"> click here to read more </a><p/>

<h2>Renewing the Foundations for Art and Aesthetics</h2>
<p>The enormous concern that the Art World places on novelty and theory would have been foreign to any previous era of human history. Is this a wise cultural innovation that we’ve made? What can we learn from expression of creativity in other societies?</p>

<p> Image by Ethan Hoover unsplash </p>
</div>

<div class="images-wrapper last" style="background-image: url({{ $.Site.BaseURL }}images/ethan-hoover-325423-unsplash.jpg)"></div>

</div>

<div class="side-image">

<div class="images-wrapper last" style="background-image: url({{ $.Site.BaseURL }}images/david-cohen-122135-unsplash2.jpg)"></div>

<div class="side-image-content">

<h2>Mindfulness Beyond Stress Reduction </h2>
<p>We are interested in non-dogmatic exploration of the ancient claim that mindfulness practice only reaches its fullest potential for human benefit when paired with complementary understandings of psychology, reality, and livelihood. This approach to living challenges western notions about the place of rationality in life, and the pursuit of purpose. (see primer on non-attachment to views</p>

<h2> The science of well-being</h2>
<p> The richer we get the more we realize that money doesn't buy happiness, so a global emphasis is now placed on wellbeing, which though subjective can be studied in its own right. We aim to identify and promote practices, tools and methods that maximise thriving. Our concept of well-being includes both rewarding moment-by-moment experiences and a sense of longterm purpose. </p>

<p>We are interested in non-dogmatic exploration of the ancient claim that <a href=/mindfulness-primer> mindfulness </a> practice only reaches its fullest potential for human benefit when paired with complementary understandings of psychology, reality, and livelihood. This approach to living challenges western notions about the place of rationality in life, and the pursuit of purpose. (see primer on <a href=/non-attachment-primer> non-attachment to views</a>) </p>

<p>Image by David Cohen unsplash</p>


</div>

</div>

  </section>




  {{ partial "footer.html" . }}

  {{ partial "script.html" . }}

</body>
</html>
